# Composer
/vendor/

# env local
.env
.env.*

# docker volumes / runtime data
.data/
**/.data/
mysql_data/
db_data/
.docker/mysql/

# logs e temporários
*.log
logs/
tmp/
.cache/

# mobile/flutter build artifacts
*.apk
*.aab
**/build/
**/.dart_tool/
