# Arquivo: .gitignore

# Ignorar o arquivo de variáveis de ambiente local
.env

# Ignorar a pasta de dependências do Composer
/vendor

*.apk
*.aab
**/build/
**/.dart_tool/


*.apk
*.aab
**/build/
**/.dart_tool/

