@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*,
*::before,
*::after {
    box-sizing: inherit
}

@font-face {
    font-family: SanFrancisco;.
    src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SanFrancisco;
    font-weight: bold;
    src: url("path/SF-Pro-Display-Regular.otf") format("opentype");
}

html {
    font-family: sans-serif;	
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 100%;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
    margin: 0;
	font-size: .9em;
	padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #2c2c2c;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}
h1, h2, h3, h4, h5, h6, ul, li, p{    
    padding: 0;
    margin: 0;
    line-height: 1.5
}
a{
	text-decoration: none;	
}
a:active, a:hover{
    outline: 0
}
img{
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle
}
hr{
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1rem auto;
    clear: both
}
input,
select,
textarea{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	resize: none;
}

/* Para corrigir a seta padrão do select */
select::-ms-expand {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {	
	-moz-appearance: textfield;
	appearance: textfield;
}
div {
  opacity: 1;
  transition: opacity 0.7s ease;
  max-height: auto;
}
div:empty::after {
    content: '\00a0'; /* Espaço invisível */
    display: inline-block; /* Garante que o espaço ocupe área visível */
}
div.fade {
    opacity: 0;
    transition: none;
	/*
	line-height:0;
	max-height: 0;
	overflow: hidden;	
	pointer-events: none;
	*/
}

input:focus, input:active, textarea:focus, textarea:active{
	outline: .5px solid #fca988;
}

/* FONTS */
.roboto{
	font-family: "Roboto", sans-serif;
}
.sanfrancisco{
	font-family: "SanFrancisco", sans-serif;
}

/* LOADING PAGE */
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 1;		
	z-index: 999999;
	text-align: center;		
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* W CONTENT */
.w-page-bkg {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    opacity: 1; /* Transparência ajustada para melhor legibilidade */
    filter: blur(2.5px); /* Desfoque leve para suavizar a imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para desktops */
    transition: opacity 0.3s ease, filter 0.3s ease;
}

@media screen and (max-width: 768px) {
    .w-page-bkg {
        background-attachment: scroll; /* Otimizado para dispositivos móveis */
    }
}

.w-page-bkg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
	background: linear-gradient(to bottom, rgba(245,245,245,.9) 7%,rgba(245,245,245,0.25) 100%);
    z-index: -1;
}


.off-canvas-wrapper{		
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

/* COLUMN AND ROW */

.row{
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto
}

.row::before,
.row::after {
	content: ' ';
	display: table
}
.row::after {
	clear: both
}
.row.collapse>.column,
.row.collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.row .row {
	margin-left: -.9375rem;
	margin-right: -.9375rem
}
.row .row.collapse {
	margin-left: 0;
	margin-right: 0
}
.row.expanded {
	max-width: none
}
.row.expanded .row {
	margin-left: auto;
	margin-right: auto
}
.column,
.columns {
	width: 100%;
	float: left;
	padding-left: 1.25rem;
	padding-right: 1.25rem
}	
.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
	float: right
}
.column.end:last-child:last-child,
.end.columns:last-child:last-child {
	float: left
}
.column.row.row,
.row.row.columns {
	float: none
}
.row .column.row.row,
.row .row.row.columns {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0
}

/* SHOW AND HIDE */
/* MOBILE <= max-width: 39.9375em; */
/* TABLET <= max-width: 63.9375em; */
/* DSKTOP <= max-width: 74.9375em; */

@media screen and (max-width:39.9375em) {
	.hide-for-small-only {
		display: none!important
	}
	.column,
	.columns {
		padding-left: .6250rem;
		padding-right: .6250rem
	}
	.row .row {
		margin-left: 0;
		margin-right: 0;
	}
	.cm-pad-column{
		padding: 0;
	}
}
@media screen and (max-width:0),
screen and (min-width:40em) {
	.show-for-small-only {
		display: none!important
	}
}
@media screen and (min-width:40em) {
	.hide-for-medium {
		display: none!important
	}
}
@media screen and (max-width:39.9375em) {
	.show-for-medium {
		display: none!important
	}
}
@media screen and (min-width:40em)and (max-width:63.9375em) {
	.hide-for-medium-only {
		display: none!important
	}
}
@media screen and (max-width:39.9375em),
screen and (min-width:64em) {
	.show-for-medium-only {
		display: none!important
	}
}
@media screen and (min-width:64em) {
	.hide-for-large {
		display: none!important
	}
}
@media screen and (max-width:63.9375em) {
	.show-for-large {
		display: none!important
	}
}
@media screen and (min-width:64em)and (max-width:74.9375em) {
	.hide-for-large-only {
		display: none!important
	}
}
@media screen and (max-width:63.9375em),
screen and (min-width:75em) {
	.show-for-large-only {
		display: none!important
	}
}

/* BY DISPLAY ORIENTATION */
.show-for-landscape,
.hide-for-portrait {
	display: block!important
}
@media screen and (orientation:landscape) {
	.show-for-landscape,
	.hide-for-portrait {
		display: block!important
	}
}
@media screen and (orientation:portrait) {
	.show-for-landscape,
	.hide-for-portrait {
		display: none!important
	}
}
.hide-for-landscape,
.show-for-portrait {
	display: none!important
}
@media screen and (orientation:landscape) {
	.hide-for-landscape,
	.show-for-portrait {
		display: none!important
	}
}
@media screen and (orientation:portrait) {
	.hide-for-landscape,
	.show-for-portrait {
		display: block!important
	}
}
	
/* SCROLLBAR */
*::-webkit-scrollbar {
width: 5px;
height: 3.5px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #dcdcdc;
border-radius: 5px;
border: 0px solid #ffffff;
}

/* BY CURSOR FOCUS */
.show-for-sr,
.show-on-focus {
	position: absolute!important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0)
}
.show-on-focus:active,
.show-on-focus:focus {
	position: static!important;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto
}


/* DIV CENTERED */

.centered{
	margin: 0 auto;
}
.centered-v{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items:center;
	justify-content:center;
}
.centered-v > *{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items:center;
}
	
/* DISPLAY */
.is-visible {
	display: block!important
}
.is-hidden {
	display: none!important
}
.display-none {
	display: none!important
}
.display-block{
	display: block!important
}
.display-grid{
	display: grid
}
.display-flex{
	display: flex!important;
	align-items: center;
	justify-content: space-between;
}
.justify-content-end{
	justify-content: flex-end;
}
.display-center-general-container{
	display: flex!important;
	align-items: center;	
	flex-direction: row;
	/*flex-wrap: wrap;*/
}
.display-table{
	display: table!important;
}
.display-table-middle{
	display: table-cell!important;
	vertical-align: middle;
}
.display-inline{
	display: inline-block!important;		
}

.align-left {
  margin-right: auto;
}

.align-right {
  margin-left: auto;
}
/*VERTICAL AND HORIZONTAL ALIGN*/
.vertical-top{
	vertical-align: top;
}
.vertical-middle{
	vertical-align: middle;
}
.align-center{
	align-items: center;
}

/* POSITION & FLOAT */
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
.position-fixed{
	position: fixed;
}
.position-sticky{
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
}
.float-left {
	position: relative;
	float: left
}
.float-right {
	position: relative;
	float: right
}
	
/* OVERFLOW */
.overflow-auto{
	overflow: auto;
}
.overflow-hidden{
	overflow: hidden;
}
.overflow-y-auto{
	overflow-y: auto;
}
.overflow-x-auto{
	overflow-x: auto;
}
.overflow-y-hidden{
	overflow-y: hidden;
}
.overflow-x-hidden{
	overflow-x: hidden;
}
.overflow{
	--max-lines: 3;
	position: relative;
	max-height: calc(var(--lh) * var(--max-lines));
	overflow: hidden;
	padding-right: 1rem; /* space for ellipsis */
}
	
/* HEIGHT */
.height-0{
	max-height: 0;
}
.height-65{
	height: 65px;
}
.height-100{
	height: 100% !important;
	max-height: 100% !important;
}
.border-box{
	box-sizing: border-box;
}
	
/*WIDTH*/
.width-0{
	width: 0;
}
.width-inside-wide{
	width: calc(100% - 40px);
}
	
/* ABSOLUTE DIRECTIONS */	
.abs-t-0{
	top: 0;
}
.abs-l-0{
	left: 0;
}
.abs-r-0{
	right: 0;
}
.abs-b-0{
	bottom: 0;
}
.abs-t-5{
	top: 5px;
}
.abs-l-5{
	left: 5px;
}
.abs-r-5{
	right: 5px;
}
.abs-b-5{
	bottom: 5px;
}	
.abs-t-10{
	top: 10px;
}
.abs-l-10{
	left: 10px;
}
.abs-r-10{
	right: 10px;
}
.abs-b-10{
	bottom: 10px;
}
.abs-t-15{
	top: 15px;
}
.abs-l-15{
	left: 15px;
}
.abs-r-15{
	right: 15px;
}
.abs-b-15{
	bottom: 15px;
}
.abs-t-20{
	top: 20px;
}
.abs-l-20{
	left: 20px;
}
.abs-r-20{
	right: 20px;
}
.abs-b-20{
	bottom: 20px;
}
.abs-t-25{
	top: 25px;
}
.abs-l-25{
	left: 25px;
}
.abs-r-25{
	right: 25px;
}
.abs-b-25{
	bottom: 25px;
}		
.abs-t-30{
	top: 30px;
}
.abs-l-30{
	left: 30px;
}
.abs-r-30{
	right: 30px;
}
.abs-b-30{
	bottom: 30px;
}
.abs-t-35{
	top: 35px;
}
.abs-l-35{
	left: 35px;
}
.abs-r-35{
	right: 35px;
}
.abs-b-35{
	bottom: 35px;
}
.abs-t-40{
	top: 40px;
}
.abs-l-40{
	left: 40px;
}
.abs-r-40{
	right: 40px;
}
.abs-b-40{
	bottom: 40px;
}
.abs-t-45{
	top: 45px;
}
.abs-l-45{
	left: 45px;
}
.abs-r-45{
	right: 45px;
}
.abs-b-45{
	bottom: 45px;
}
.abs-t-50{
	top: 50px;
}
.abs-l-50{
	left: 50px;
}
.abs-r-50{
	right: 50px;
}
.abs-b-50{
	bottom: 50px;
}
.abs-t-55{
	top: 55px;
}
.abs-l-55{
	left: 55px;
}
.abs-r-55{
	right: 55px;
}
.abs-b-55{
	bottom: 55px;
}

/* BACKGROUND */
.background-faded-red{
	background: #FFCCCC;
}
.background-faded-yellow{
	background: #F1EBA4;
}
.background-faded-green{
	background: #ADC75C;
}
.background-none {
	background: none
}
.background-red{
	background: #BD6C7C;
}
.background-white {
	background: #FFF;
}
.background-dark{
	background: #222
}
.background-black{
	background: #000;
}
.background-gray{
	background: #F5F5F5;
}
.background-gray-1{
	background: #eaeaea;
}
.background-orange{
	background: #FD5F1E;
}
.background-transparent{
	background: transparent;
}
.background-gradient-wh{			
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}
.background-gradient-orange{
	background: -moz-linear-gradient(top, rgba(253, 95, 30, 1) 0%, rgba(253, 95, 30,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(253, 95, 30, 1) 0%,rgba(253, 95, 30,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(253, 95, 30, 1) 0%,rgba(253, 95, 30,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}
.background-gradient-black{
	background: -moz-linear-gradient(top, rgba(2, 2, 2, 1) 0%, rgba(2, 2, 2,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(2, 2, 2, 1) 0%,rgba(2, 2, 2,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(2, 2, 2, 1) 0%,rgba(2, 2, 2,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}

.background-black-transparent-25{
	background: rgba(2,2,2,0.25);
}
.background-black-transparent-50{
	background: rgba(2,2,2,0.50);
}
.background-black-transparent-75{
	background: rgba(2,2,2,0.75);
}
.background-white-transparent{
	background: rgba(255,255,255,0.75);
}
.background-white-transparent-25{
	background: rgba(255,255,255,0.25);
}
.background-white-transparent-50{
	background: rgba(255,255,255,0.50);
}
.background-white-transparent-75{
	background: rgba(255,255,255,0.75);
}
.background-gray-transparent-25{
	background: rgba(245,245,245,0.25);
}
.background-gray-transparent-50{
	background: rgba(245,245,245,0.50);
}
.background-gray-transparent-75{
	background: rgba(245,245,245,0.75);
}
.background-orange-transparent{
	background: rgba(196,69,23,0.5);
}
.background-animation{	
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 400% 400%;
	-webkit-animation: gradient 10s ease infinite;
	animation: gradient 10s ease infinite;
}
.background-orange-button{	
	background: #ffb76b;
	background: -moz-linear-gradient(-45deg,  rgba(253,95,30,0.2) 0%, rgba(253,95,30,0.4) 50%, rgba(253,95,30,0.5) 51%, rgba(253,95,30,0.95) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(253,95,30,0.2) 0%, rgba(253,95,30,0.4) 50%, rgba(253,95,30,0.5) 51%, rgba(253,95,30,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(253,95,30,0.2) 0%, rgba(253,95,30,0.4) 50%, rgba(253,95,30,0.5) 51%, rgba(253,95,30,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.background-yellow{
	background-color: #c4b72d;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
	
/* FONT */
.ubuntu{
		font-family: 'Ubuntu', sans-serif;
	}	
.fs-a{
	font-size: 0.7em;
}
.fs-b{
	font-size: 0.8em;
}
.fs-c{
	font-size: 0.9em;
}
.fs-d{
	font-size: 1em;
}
.fs-e{
	font-size: 1.1em;
}
.fs-f{
	font-size: 1.2em;
}
.fs-g{
	font-size: 1.5em;
}
	
/* FONT SIZE RESPONSIVE */
.fs-r-a{
	font-size: 1.25vw;
}
@media screen and (min-width:40em) {
	.fs-r-a{
		font-size: 2.25vw;
	}
}
@media screen and (max-width:39.9375em) {
	.fs-r-a{
		font-size: 4vw;
	}
}
@media screen and (min-width:64em){
	.fs-r-a{
		font-size: 1.5em;
	}
}
	
/* IMAGE EFFECTS */
.bnw{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.looping_zoom{
	animation: shrink 20s infinite alternate;
}
.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.backdrop-blur{
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.backdrop-blur-p{
	-webkit-backdrop-filter: blur(2.5px);
	backdrop-filter: blur(2.5px);
}
@keyframes shrink{
	0% {
		-ms-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	}
	100% {
		-ms-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
}
	
/* TEXT ALIGN */	
.line-height-100{
	line-height: 100%;
}
.line-height-150{
	line-height: 150%;
}
.line-height-35{
	line-height: 35px;
}
.line-height-a{
	line-height: 1em;
}
.line-height-b{
	line-height: 1.25em;
}
.line-height-c{
	line-height: 1.5em;
}
.line-height-d{
	line-height: 1.75em;
}
.line-height-e{
	line-height: 2em;
}
.text-left{
	text-align: left!important
}
.text-right{
	text-align: right!important
}
.text-center{
	text-align: center!important
}
.text-left{
	text-align: left
}
.text-right{
	text-align: right
}
.text-center{
	text-align: center
}
.text-justify{
	text-align: justify
}	
.vertical-middle{
	vertical-align: middle;
}	
@media screen and (min-width:40em){
	.medium-text-left{
		text-align: left
	}
	.medium-text-right{
		text-align: right
	}
	.medium-text-center{
		text-align: center
	}
	.medium-text-justify{
		text-align: justify
	}
}
@media screen and (min-width:64em){
	.large-text-left{
		text-align: left
	}
	.large-text-right{
		text-align: right
	}
	.large-text-center{
		text-align: center
	}
	.large-text-justify{
		text-align: justify
	}
}

/* TEXT */
.break{
	word-break: break-all;
}
.break-word{
	word-wrap: break-word;
}
.no-break {
    white-space: nowrap;        /* Impede quebra de linha */
    overflow: hidden;           /* Esconde excesso de texto */
    text-overflow: ellipsis;    /* Adiciona '...' ao final do texto truncado */
}
.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-ellipsis-2{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-ellipsis-3{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-ellipsis-6{
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}
.text-decoration{
	text-decoration: none;
}
	
/* TEXT COLOR */	
.dark{
	color: #222;
}
.orange{
	color: #FD5F1E;
}
.white{
	color: #FFF;
}
.white-transparent{
	color: rgba(255, 255, 255, 0.5);
}
.gray{
	color: #777;
}
.dark-gray{
	color: #606060;
}
.light-gray{
	color: #E0E0E0;
}
.dark-transparent{
	color: rgba(2,2,2,0.5);
}
.red{
	color: #AA616F;
}
.yellow{
	color: #c4b72d;
}
.green{
	color: #5E7115;
}

.item_slider img{
	max-height: 250px;
	margin: 0 2.5px;
}
	
/* VISIBILITY */	
.hide{
	display: none!important
}
.invisible{
	visibility: hidden
}
	
/* CURSOR */	
.pointer{
	cursor: pointer
}
.help{
	cursor: help;
}
.move{
	cursor: move;
}

/* BORDER LINE */	
.border-none{
	border: none;
	outline: none;
}
.border-none:focus{
	border: none;
	outline: none;
}
.border-t-brown-3 {
	border-top: 2px solid #fca988
}
.border-b-brown-3 {
	border-bottom: 2px solid #fca988!important
}
.border-div{
	border: 7.5px solid #FFF;
}
.border-div-gray{
	border: 5px solid #F5F5F5;
}
.border-gray-sm{
	border: 2.5px solid #F5F5F5;
}
.input-border{
	transition: border .25s ease-in-out;
	border: .5px solid #FFF;
}
.input-border:focus{
	border: .5px solid #fca988;
}
.border-like-input{
	border: .5px solid rgba(0,0,0,0.1);
}
.border-b-input{
	border-bottom: .5px solid rgba(0,0,0,0.1);
}
.border-t-input{
	border-top: .5px solid rgba(0,0,0,0.1);
}
.border-r-input{
	border-right: .5px solid rgba(0,0,0,0.1);
}
.border-l-input{
	border-left: .5px solid rgba(0,0,0,0.1);
}
.outline-none{
	outline: none;
}

/* BORDER RADIUS */	
.w-square-rounded-top{
	border-radius: 0px 40px 0px 0px;
}
.w-square-rounded-bottom{
	border-radius: 0px 0px 40px 0px;
}
.w-rounded-5{
	border-radius: 5px 5px 5px 5px;
}
.w-rounded-5-l{
	border-radius: 5px 0px 0px 5px;
}
.w-rounded-5-t{
	border-radius: 5px 5px 0px 0px;
}
.w-rounded-5-b{
	border-radius: 0px 0px 5px 5px;
}
.w-rounded-5-r{
	border-radius: 0px 5px 5px 0px;
}
.w-rounded-10-l{
	border-radius: 10px 0px 0px 10px;
}
.w-rounded-10-t{
	border-radius: 10px 10px 0px 0px;
}
.w-rounded-10-b{
	border-radius: 0px 0px 10px 10px;
}
.w-rounded-10-l-t{
	border-radius: 10px 0px 0px 0px;
}
.w-rounded-10-l-b{
	border-radius: 0px 0px 0px 10px;
}	
.w-rounded-10-r{
	border-radius: 0px 10px 10px 0px;
}
.w-rounded-10-r-t{
	border-radius: 0px 10px 0px 0px;
}
.w-rounded-10-r-b{
	border-radius: 0px 0px 10px 0px;
}
.w-rounded-10{
	border-radius: 10px 10px 10px 10px;
}
.w-rounded-15-l{
	border-radius: 15px 0px 0px 15px;
}
.w-rounded-15-t{
	border-radius: 15px 15px 0px 0px;
}
.w-rounded-15-b{
	border-radius: 0px 0px 15px 15px;
}
.w-rounded-15-l-t{
	border-radius: 15px 0px 0px 0px;
}
.w-rounded-15-l-b{
	border-radius: 0px 0px 0px 15px;
}	
.w-rounded-15-r{
	border-radius: 0px 15px 15px 0px;
}
.w-rounded-15-r-t{
	border-radius: 0px 15px 0px 0px;
}
.w-rounded-15-r-b{
	border-radius: 0px 0px 15px 0px;
}
.w-rounded-15{
	border-radius: 15px 15px 15px 15px;
}
.w-rounded-20-l{
	border-radius: 20px 0px 0px 20px;
}
.w-rounded-20-t{
	border-radius: 20px 20px 0px 0px;
}
.w-rounded-20-b{
	border-radius: 0px 0px 20px 20px;
}
.w-rounded-20-l-t{
	border-radius: 20px 0px 0px 0px;
}
.w-rounded-20-l-b{
	border-radius: 0px 0px 0px 20px;
}	
.w-rounded-20-r{
	border-radius: 0px 20px 20px 0px;
}
.w-rounded-20-r-t{
	border-radius: 0px 20px 0px 0px;
}
.w-rounded-20-r-b{
	border-radius: 0px 0px 20px 0px;
}
.w-rounded-20{
	border-radius: 20px 20px 20px 20px;
}
.w-rounded-25-l{
	border-radius: 25px 0px 0px 25px;
}
.w-rounded-25-t{
	border-radius: 25px 25px 0px 0px;
}
.w-rounded-25-b{
	border-radius: 0px 0px 25px 25px;
}
.w-rounded-25-l-t{
	border-radius: 25px 0px 0px 0px;
}
.w-rounded-25-l-b{
	border-radius: 0px 0px 0px 25px;
}	
.w-rounded-25-r{
	border-radius: 0px 25px 25px 0px;
}
.w-rounded-25-r-t{
	border-radius: 0px 25px 0px 0px;
}
.w-rounded-25-r-b{
	border-radius: 0px 0px 25px 0px;
}
.w-rounded-25{
	border-radius: 25px 25px 25px 25px;
}
.w-rounded-30-l{
	border-radius: 30px 0px 0px 30px;
}
.w-rounded-30-t{
	border-radius: 30px 30px 0px 0px;
}
.w-rounded-30-b{
	border-radius: 0px 0px 30px 30px;
}
.w-rounded-30-l-t{
	border-radius: 30px 0px 0px 0px;
}
.w-rounded-30-l-b{
	border-radius: 0px 0px 0px 30px;
}	
.w-rounded-30-r{
	border-radius: 0px 30px 30px 0px;
}
.w-rounded-30-r-t{
	border-radius: 0px 30px 0px 0px;
}
.w-rounded-30-r-b{
	border-radius: 0px 0px 30px 0px;
}
.w-rounded-30{
	border-radius: 30px 30px 30px 30px;
}
.w-rounded-35-l{
	border-radius: 35px 0px 0px 35px;
}
.w-rounded-35-t{
	border-radius: 35px 35px 0px 0px;
}
.w-rounded-35-b{
	border-radius: 0px 0px 35px 35px;
}
.w-rounded-35-l-t{
	border-radius: 35px 0px 0px 0px;
}
.w-rounded-35-l-b{
	border-radius: 0px 0px 0px 35px;
}	
.w-rounded-35-r{
	border-radius: 0px 35px 35px 0px;
}
.w-rounded-35-r-t{
	border-radius: 0px 35px 0px 0px;
}
.w-rounded-35-r-b{
	border-radius: 0px 0px 35px 0px;
}
.w-rounded-35{
	border-radius: 35px 35px 35px 35px;
}
.w-rounded-40-l{
	border-radius: 40px 0px 0px 40px;
}
.w-rounded-40-t{
	border-radius: 40px 40px 0px 0px;
}
.w-rounded-40-b{
	border-radius: 0px 0px 40px 40px;
}
.w-rounded-40-l-t{
	border-radius: 40px 0px 0px 0px;
}
.w-rounded-40-l-b{
	border-radius: 0px 0px 0px 40px;
}	
.w-rounded-40-r{
	border-radius: 0px 40px 40px 0px;
}
.w-rounded-40-r-t{
	border-radius: 0px 40px 0px 0px;
}
.w-rounded-40-r-b{
	border-radius: 0px 0px 40px 0px;
}
.w-rounded-40{
	border-radius: 40px 40px 40px 40px;
}
.w-rounded-45-l{
	border-radius: 45px 0px 0px 45px;
}
.w-rounded-45-t{
	border-radius: 45px 45px 0px 0px;
}
.w-rounded-45-b{
	border-radius: 0px 0px 45px 45px;
}
.w-rounded-45-l-t{
	border-radius: 45px 0px 0px 0px;
}
.w-rounded-45-l-b{
	border-radius: 0px 0px 0px 45px;
}	
.w-rounded-45-r{
	border-radius: 0px 45px 45px 0px;
}
.w-rounded-45-r-t{
	border-radius: 0px 45px 0px 0px;
}
.w-rounded-45-r-b{
	border-radius: 0px 0px 45px 0px;
}
.w-rounded-45{
	border-radius: 45px 45px 45px 45px;
}
.w-rounded-50-l{
	border-radius: 50px 0px 0px 50px;
}
.w-rounded-50-t{
	border-radius: 50px 50px 0px 0px;
}
.w-rounded-50-b{
	border-radius: 0px 0px 50px 50px;
}
.w-rounded-50-l-t{
	border-radius: 50px 0px 0px 0px;
}
.w-rounded-50-l-b{
	border-radius: 0px 0px 0px 50px;
}	
.w-rounded-50-r{
	border-radius: 0px 50px 50px 0px;
}
.w-rounded-50-r-t{
	border-radius: 0px 50px 0px 0px;
}
.w-rounded-50-r-b{
	border-radius: 0px 0px 50px 0px;
}
.w-rounded-50{
	border-radius: 50px 50px 50px 50px;
}
.w-rounded-20-35{
	border-radius: 20px 20px 35px 35px;
}

.w-circle{
	border-radius: 100%;
	aspect-ratio: 1 / 1; /* Define a proporção 1:1 */
	overflow: hidden; /* Esconde as partes que extrapolam a proporção */
}
.w-square{
	aspect-ratio: 1 / 1; /* Define a proporção 1:1 */
	overflow: hidden; /* Esconde as partes que extrapolam a proporção */
}
	
/* BOX SHADOW */	
.w-shadow{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07)
}
.w-shadow-1{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15)
}
.w-shadow-2{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3)
}
.t-shadow{		
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3)
}
.b-shadow{		
	box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.2);
}
.w-shadow-t{
	-webkit-box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.05);
	box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.05);
}
.w-modal-shadow{
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
}
.inner-shadow{
	-webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.5);
}
.sombra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Coloca a sombra atrás do iframe */
}

.sombra::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
}

	
/* TEXT SHADOW */	
.text-shadow{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
	
/* FONTS */	
.font-weight-600{
	font-weight: 600;
}
.font-weight-400{
	font-weight: 700;
}
.font-weight-500{
	font-weight: 500;
}
.font-weight-400{
	font-weight: 400;
}
.font-weight-350{
	font-weight: 300;
}
.uppercase{
	text-transform: uppercase;
}
.italic{
	font-style: italic;
}
.bold{
	font-style: bold;
}
	
/* MISC */	
.clear{
	clear: both;
}
.clear::after{
	clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

 @media screen and (max-width:39.9375em){
	 .small-display-none{
		 display: none;
	 }
 }
 
/* TRANSITIONS */
.seed{
	height: 0;
	opacity: 0;
	
}
.grown{
	height: 20px;
	opacity: 1;
	
}
.height-tr{
	transition: height .25s ease-in-out;
}
.w-bkg-tr-gray-dark{
	background-color: rgba(2,2,2,.8);
}
.w-bkg-tr-gray-dark:hover{
	background-color: rgba(2,2,2,.5);
	transition: background-color .25s ease-in-out;
}
.w-bkg-tr-gray{
	background-color: #F5F5F5;
	transition: background-color .25s ease-in-out;
}
.w-bkg-tr-gray:hover{
	background-color: #EDEDED;
}
.w-bkg-dark-to-red-transparent{
	background-color: rgba(0,0,0,0.5);
	transition: background-color .25s ease-in-out;
}
.w-bkg-dark-to-red-transparent:hover{
	background-color: rgba(255,0,0,0.5);
}
.w-all-bl-to-wh-transparent{
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.w-all-bl-to-wh-transparent:hover{
	background-color: rgba(222, 222, 222, 0.75);
	color: #222;
}
.w-color-wh-to-gr{
	color: #FFF;
	fill:#FFF;
	transition: all .25s ease-in-out;
}
.w-color-wh-to-gr:hover{
	color: #F5F5F5;
	fill: #F5F5F5;
}
.w-color-gr-to-wh{
	color: #F5F5F5;
	transition: color .25s ease-in-out;
}
.w-color-gr-to-wh:hover{
	color: #FFF;
}
.w-color-wh-to-bl{
	color: #FFF;
	transition: color .25s ease-in-out;
}
.w-color-wh-to-bl:hover{
	color: #222;
}
.w-color-bl-to-wh{		
	color: #222;
	transition: color .25s ease-in-out;
}
.w-color-bl-to-wh:hover{
	color: #FFF;
}
.w-color-wh-to-or{
	color: #FFF;
	transition: color .25s ease-in-out;
}
.w-color-wh-to-or:hover{
	color: #FD5F1E;
}
.w-color-or-to-wh{
	color: #FD5F1E;
	transition: color .25s ease-in-out;
}
.w-color-or-to-wh:hover{
	color: #FFF;
}
.w-color-gr-to-gr{
	color: #C1C1C1;
	fill: #C1C1C1;
}
.w-color-gr-to-gr:hover{
	color: #777;
	fill: #777;
	transition: all .25s ease-in-out;
}
.w-bkg-wh-to-gr{
	background-color: #FFF;
	transition: background-color .25s ease-in-out;
}
.w-bkg-wh-to-gr:hover{
	background-color: #FAFAFA;
}
.w-bkg-gr-to-wh{		
	background-color: #FAFAFA;
	transition: background-color .25s ease-in-out;
}
.w-bkg-gr-to-wh:hover{
	background-color: #FFF;
}
.w-color-bl-to-or{
	color: #222222;
	fill: #222222;
	transition: all .25s ease-in-out;
}
.w-color-bl-to-or:hover{
	color: #FD5F1E;
	fill: #FD5F1E;
}
.w-color-or-to-bl{
	color: #FD5F1E;
	transition: color .25s ease-in-out;
}
.w-color-or-to-bl:hover{
	color: #222222;
}
.w-all-or-to-bl{
	background-color: #FD5F1E;
	color: #FFF;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;		
}
.w-all-or-to-bl:hover{
	background-color: #222222;
}	
.w-all-bl-to-or{
	background-color: #222222;
	color: #FFF;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.w-all-bl-to-or:hover{
	background-color: #FD5F1E;
}
.w-all-wh-to-or{
	background-color: #FFF;
	color: #222;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.w-all-wh-to-or:hover{
	color: #FFF;
	background-color: #FD5F1E;
}
.bnw-to-colored{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.25s ease-in-out;
}
.bnw-to-colored:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.catlist:nth-child(even){
	background-color: white;
	color: #444;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.catlist:nth-child(odd){
	background-color: #F5F5F5;
	color: #444;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.catlist:nth-child(even):hover{
	color: #fd5f1e;
}
.catlist:nth-child(odd):hover{
	color: #fd5f1e;
}
@keyframes borderAnimation{
  0%   { border: .5px solid rgba(0,0,0,0.1); }
  50%  { border: .5px solid #FD5F1E; }
  100% { border: .5px solid rgba(0,0,0,0.1); }
}
@-o-keyframes borderAnimation{
  0%   { border: .5px solid rgba(0,0,0,0.1); }
  50%  { border: .5px solid #FD5F1E; }
  100% { border: .5px solid rgba(0,0,0,0.1); }
}
@-moz-keyframes borderAnimation{
  0%   { border: .5px solid rgba(0,0,0,0.1); }
  50%  { border: .5px solid #FD5F1E; }
  100% { border: .5px solid rgba(0,0,0,0.1); }
}
@-webkit-keyframes borderAnimation{
  0%   { border: .5px solid rgba(0,0,0,0.1); }
  50%  { border: .5px solid #FD5F1E; }
  100% { border: .5px solid rgba(0,0,0,0.1); }
}
@keyframes colorAnimation{
  0%   { color:#FFF; }
  50%  { color:#FD5F1E; }
  100% { color:#FFF; }
}
@-o-keyframes colorAnimation{
  0%   { color:#FFF; }
  50%  { color:#FD5F1E; }
  100% { color:#FFF; }
}
@-moz-keyframes colorAnimation{
  0%   { color:#FFF; }
  50%  { color:#FD5F1E; }
  100% { color:#FFF; }
}
@-webkit-keyframes colorAnimation{
  0%   { color:#FFF; }
  50%  { color:#FD5F1E; }
  100% { color:#FFF; }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@keyframes background-colorAnimation{
  0%   { background-color:#E59F9D; }
  50%  { background-color:#FFB1AF; }
  100% { background-color:#E59F9D; }
}
@-o-keyframes background-colorAnimation{
  0%   { background-color:#E59F9D; }
  50%  { background-color:#FFB1AF; }
  100% { background-color:#E59F9D; }
}
@-moz-keyframes background-colorAnimation{
  0%   { background-color:#E59F9D; }
  50%  { background-color:#FFB1AF; }
  100% { background-color:#E59F9D; }
}
@-webkit-keyframes background-colorAnimation{
	0%   { background-color:#E59F9D; }
	50%  { background-color:#FFB1AF; }
	100% { background-color:#E59F9D; }
}
@keyframes dark-red-Animation{
	0%   { background-color: #BD6C7C; }
	50%  { background-color: #E59F9D; }
	100% { background-color: #BD6C7C; }
}
@-o-keyframes dark-red-Animation{
	0%   { background-color: #BD6C7C; }
	50%  { background-color: #E59F9D; }
	100% { background-color: #BD6C7C; }
}
@-moz-keyframes dark-red-Animation{
	0%   { background-color: #BD6C7C; }
	50%  { background-color: #E59F9D; }
	100% { background-color: #BD6C7C; }
}
@-webkit-keyframes dark-red-Animation{
	0%   { background-color: #BD6C7C; }
	50%  { background-color: #E59F9D; }
	100% { background-color: #BD6C7C; }
}
@keyframes background-whiteAnimation{
	0%   { background-color: #FFF; }
	50%  { background-color: #BBB; }
	100% { background-color: #FFF; }
}
.animate-flicker{
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}
.animate-color{
   -webkit-animation: colorAnimation .7s infinite;
   -moz-animation: colorAnimation .7s infinite;
   -o-animation: colorAnimation .7s infinite;
	animation: colorAnimation .7s infinite;
}
.animate-border{
   -webkit-animation: borderAnimation 1s infinite;
   -moz-animation: borderAnimation 1s infinite;
   -o-animation: borderAnimation 1s infinite;
	animation: borderAnimation 1s infinite;
}
.animate-background-red{
	-webkit-animation: background-colorAnimation .7s infinite;
	-moz-animation: background-colorAnimation .7s infinite;
	-o-animation: background-colorAnimation .7s infinite;
	animation: background-colorAnimation .7s infinite;
}
.animate-background-dark-red{		
	-webkit-animation: dark-red-Animation .7s infinite;
	-moz-animation: dark-red-Animation .7s infinite;
	-o-animation: dark-red-Animation .7s infinite;
	animation: dark-red-Animation .7s infinite;
}
.animate-background-white{
	-webkit-animation: background-whiteAnimation .7s infinite;
	-moz-animation: background-whiteAnimation .7s infinite;
	-o-animation: background-whiteAnimation .7s infinite;
	animation: background-whiteAnimation .7s infinite;
}

/* END TOOLS */

/* TABLE */

.table tbody tr td{		
	max-width: 15ch;		
	white-space: nowrap;
}
.table tbody tr:nth-child(odd){
	background-color: #FFF;
	max-width: 15ch;		
	white-space: nowrap;
}

	
.title-general {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #333;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 8px;
}
@media screen and (max-width:63.9375em) {
	.title-general {
		font-size: .9375rem
	}
}	
.warning{
	background-color: #FFF;
	padding: 20px;	
	width: 100%;
}

		
	
/* TRANSITIONS */	

	.ease-all-1s{
		transition: all .1s ease;
	}
	.ease-all-15s{
		transition: all .15s ease;
	}
	.ease-all-2s{
		transition: all .2s ease;
	}
	.ease-all-5s{
		transition: all .5s ease;
	}
	.ease-all-10s{
		transition: all 1s ease;
	}


	
/* END MODAL */	
	
/* FLEX */
	
	.flex-wrap{
		flex-wrap: wrap;
	}
	
	.flex-flow-wrap{
		flex-flow: row wrap;
	}
	
	.flex-flow-nowrap{
		flex-flow: column-nowrap;
	}
	
	.justify-content-space-around{
		justify-content: space-around;
	}
	
	.justify-space-flex{
		justify-content: space-around;
		flex: 1;
	}
	
	.flex-stretch{
		align-items: flex-stretch;
	}
	
	.flex-test{
		flex: 1;
	}
	
	
	@media screen and (min-width:40em){
		.w-row{
			  display: flex;
		}
		.flex{
			display: flex;
		}
	}


.w-square::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.w-square-content{				
	position: absolute;
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;		
	line-height: 1;
	display:inline-block;
}
	
	
	




/* DROPDOWN */
.dropdown-content{
	min-width: 160px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.25s linear;	
}
.dropdown-content a{
	text-decoration: none;
}
.dropdown:hover .dropdown-content { 
  visibility: visible;
  opacity: 1;
}
.show {display: block;}

#presentation span{		
	display: inline;	
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	z-index: 999;
}

/* TASKS */
.speech-bubble {
	position: relative;
	background: rgba(255, 255, 255, 0.7);	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: rgba(255,255,255,0.7);
	border-top: 0;
	border-left: 0;
	margin-left: -5px;
	margin-top: -10px;
}

.invalid{
	background-color: #ffdddd;
	transition: background-color .15s linear;
}

/* ZOOMING LOOP */

.z-parent {	
	overflow: hidden;	
	display: inline-block;
}



.z-parent:hover .z-child, .z-parent:focus .z-child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.z-parent:hover .z-child:before, .z-parent:focus .z-child:before {
    display: block;
}

.z-child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* MODAL TASK IMAGE */
/* The Modal (background) */

.modalTaskImage{
	display: none; /* Hidden by default */
	position: absolute; /* Stay in place */
	z-index: 3; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	-webkit-backdrop-filter: blur(2.5px);
	backdrop-filter: blur(2.5px);
}

/* Modal Content (image) */
.modalTaskImage-content{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 90%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalTaskImage-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modalTaskImage-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #222;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modalTaskImage-close:hover,
.modalTaskImage-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modalTaskImage-content{
    width: 100%;
  }
}

.folder{	
    width: 100%;
    height: 70%;    
    position: relative;   
}

.folder:before{
    content: '';
    width: 50%;
    height: 10%;
    border-radius: 5px 5px 0 0;
    background-color: rgba(2,2,2,1);
    position: absolute;
    top: -5%;
    left: 0px;
}

.z-index-minus-1{
	z-index: -1;
}
.z-index-0{
	z-index: 0;
}
.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}
.z-index-5{
	z-index: 5;
}
.page {
	width: 210mm;
	min-height: 297mm;
	padding: 30mm 20mm 20mm 30mm;
	/*margin: 10mm auto;
	border: 1px #D3D3D3 solid;*/
	border-radius: 5px;
	background: white;
}
.page_view{
	min-height: 297mm;
	padding: 30mm 20mm 20mm 30mm;
}
.subpage {
	padding: 1cm;
	border: 5px red solid;
	height: 257mm;
	outline: 2cm #FFEAEA solid;
}
.page img{
	cursor: default;
}

@page{
	size: A4;
	margin: 0;
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;  
		font-family: "Ubuntu", sans-serif;
	}
	.page {
		padding: 30mm 20mm 20mm 30mm;
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: #777;
}
[placeholder]:empty:focus:before {
    content: "";
}
.selected{	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
    background: linear-gradient(90deg, black 50%, transparent 50%), 
                linear-gradient(90deg, black 50%, transparent 50%), 
                linear-gradient(0deg, black 50%, transparent 50%), 
                linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 7px 1px, 7px 1px, 1px 7px, 1px 7px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 1px;
    padding: 1px;
    animation: dash 30s linear infinite;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

.cover{
	object-fit: cover;
	width: 230px;
	height: 230px;
}

/* LOAD AWESOME - LOADERS */

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 
.la-ball-pulse,
.la-ball-pulse > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-pulse.la-dark {
    color: #333;
}
.la-ball-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-pulse {
    width: 54px;
    height: 18px;
}
.la-ball-pulse > div:nth-child(1) {
    -webkit-animation-delay: -200ms;
       -moz-animation-delay: -200ms;
         -o-animation-delay: -200ms;
            animation-delay: -200ms;
}
.la-ball-pulse > div:nth-child(2) {
    -webkit-animation-delay: -100ms;
       -moz-animation-delay: -100ms;
         -o-animation-delay: -100ms;
            animation-delay: -100ms;
}
.la-ball-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
}
.la-ball-pulse > div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    -webkit-animation: ball-pulse 1s ease infinite;
       -moz-animation: ball-pulse 1s ease infinite;
         -o-animation: ball-pulse 1s ease infinite;
            animation: ball-pulse 1s ease infinite;
}
.la-ball-pulse.la-sm {
    width: 26px;
    height: 8px;
}
.la-ball-pulse.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}
.la-ball-pulse.la-2x {
    width: 108px;
    height: 36px;
}
.la-ball-pulse.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.la-ball-pulse.la-3x {
    width: 162px;
    height: 54px;
}
.la-ball-pulse.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
                transform: scale(.01);
    }
}
@-moz-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
             transform: scale(1);
    }
    30% {
        opacity: .1;
        -moz-transform: scale(.01);
             transform: scale(.01);
    }
}
@-o-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
           transform: scale(1);
    }
    30% {
        opacity: .1;
        -o-transform: scale(.01);
           transform: scale(.01);
    }
}
@keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
           -moz-transform: scale(.01);
             -o-transform: scale(.01);
                transform: scale(.01);
    }
}

/* BALL SCALE PULSE: LOADING PAGE */

.la-ball-scale-pulse,
.la-ball-scale-pulse > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-scale-pulse.la-dark {
    color: #333;
}
.la-ball-scale-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-pulse {
    width: 36px;
    height: 36px;
}
.la-ball-scale-pulse > div {
	background-image: url('images/icons/workz/100x100.png'); background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;    
    -webkit-animation: ball-scale-pulse 1s infinite ease-in-out;
       -moz-animation: ball-scale-pulse 1s infinite ease-in-out;
         -o-animation: ball-scale-pulse 1s infinite ease-in-out;
            animation: ball-scale-pulse 1s infinite ease-in-out;
}

.la-ball-scale-pulse.la-sm {
    width: 18px;
    height: 18px;
}
.la-ball-scale-pulse.la-sm > div {
    width: 18px;
    height: 18px;
}
.la-ball-scale-pulse.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-pulse.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-pulse.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-pulse.la-3x > div {
    width: 96px;
    height: 96px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-pulse {
    0%,
    100% {
        -webkit-transform: scale(.5);
                transform: scale(.5);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-scale-pulse {
    0%,
    100% {
        -moz-transform: scale(.5);
             transform: scale(.5);
    }
    50% {
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-scale-pulse {
    0%,
    100% {
        -o-transform: scale(.5);
           transform: scale(.5);
    }
    50% {
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-scale-pulse {
    0%,
    100% {
        -webkit-transform: scale(.5);
           -moz-transform: scale(.5);
             -o-transform: scale(.5);
                transform: scale(.5);
    }
    50% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

/* PUBLICAÇÕES */

.section-box-main-full,
.section-box-full{
	position: relative;
	width: 100%;
	height: 19.6875rem;
	overflow: hidden
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full,
	.section-box-full {
		height: 12.5rem;
		/*margin-bottom: .9375rem;*/
	}
}	
.section-box-main-full .section-box-main-full-content,
.section-box-main-full .section-box-full-content,
.section-box-full .section-box-main-full-content,
.section-box-full .section-box-full-content {
	position: absolute;
	z-index: 3;
	color: #FFF;
	bottom: 1.125rem;
	left: 1.375rem;
	width: 90%;
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full .section-box-main-full-content,
	.section-box-main-full .section-box-full-content,
	.section-box-full .section-box-main-full-content,
	.section-box-full .section-box-full-content {
		width: 83%;
		left: 1.25rem
	}
}
.section-box-main-full .section-box-main-full-content:hover,
.section-box-main-full .section-box-main-full-content:active,
.section-box-main-full .section-box-full-content:hover,
.section-box-main-full .section-box-full-content:active,
.section-box-full .section-box-main-full-content:hover,
.section-box-full .section-box-main-full-content:active,
.section-box-full .section-box-full-content:hover,
.section-box-full .section-box-full-content:active {
	color: #FD5F1E
}
.section-box-main-full .section-box-main-full-content .section-box-main-full-content-title,
.section-box-main-full .section-box-main-full-content .section-box-full-content-title,
.section-box-main-full .section-box-full-content .section-box-main-full-content-title,
.section-box-main-full .section-box-full-content .section-box-full-content-title,
.section-box-full .section-box-main-full-content .section-box-main-full-content-title,
.section-box-full .section-box-main-full-content .section-box-full-content-title,
.section-box-full .section-box-full-content .section-box-main-full-content-title,
.section-box-full .section-box-full-content .section-box-full-content-title, 
.w-title{
	font-size: 1.5625rem;
	color: inherit;
	line-height: 1.8125rem;
	transition: color .2s ease-in-out;
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full .section-box-main-full-content .section-box-main-full-content-title,
	.section-box-main-full .section-box-main-full-content .section-box-full-content-title,
	.section-box-main-full .section-box-full-content .section-box-main-full-content-title,
	.section-box-main-full .section-box-full-content .section-box-full-content-title,
	.section-box-full .section-box-main-full-content .section-box-main-full-content-title,
	.section-box-full .section-box-main-full-content .section-box-full-content-title,
	.section-box-full .section-box-full-content .section-box-main-full-content-title,
	.section-box-full .section-box-full-content .section-box-full-content-title,
	.w-title{
		font-size: 1.125rem;
		margin-bottom: .5rem;
		line-height: 1.375rem
	}
}
.section-box-main-full .section-box-main-full-content,
.section-box-main-full .section-box-main-full-content,
.section-box-main-full .section-box-full-content,
.section-box-main-full .section-box-full-content,
.section-box-full .section-box-main-full-content,
.section-box-full .section-box-main-full-content,
.section-box-full .section-box-full-content,
.section-box-full .section-box-full-content {
	font-family: 'Ubuntu', sans-serif!important;
	font-weight: 400!important;
	font-size: .875rem;
	color: #FFF
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full .section-box-main-full-content,
	.section-box-main-full .section-box-main-full-content,
	.section-box-main-full .section-box-full-content,
	.section-box-main-full .section-box-full-content,
	.section-box-full .section-box-main-full-content,
	.section-box-full .section-box-main-full-content,
	.section-box-full .section-box-full-content,
	.section-box-full .section-box-full-content {
		font-size: .75rem
	}
}
.section-box-main-full .section-box-main-full-gradient,
.section-box-main-full .section-box-full-gradient,
.section-box-full .section-box-main-full-gradient,
.section-box-full .section-box-full-gradient {
	width: 100%;
	height: 19.6875rem;
	position: absolute;
	display: block;
	z-index: 2;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #000 90%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
	transition: opacity .5s ease-in-out
}
.section-box-main-full .section-box-main-full-gradient:hover,
.section-box-main-full .section-box-main-full-gradient:active,
.section-box-main-full .section-box-full-gradient:hover,
.section-box-main-full .section-box-full-gradient:active,
.section-box-full .section-box-main-full-gradient:hover,
.section-box-full .section-box-main-full-gradient:active,
.section-box-full .section-box-full-gradient:hover,
.section-box-full .section-box-full-gradient:active {
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0)
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full .section-box-main-full-gradient,
	.section-box-main-full .section-box-full-gradient,
	.section-box-full .section-box-main-full-gradient,
	.section-box-full .section-box-full-gradient {
		height: 12.5rem
	}
}

/* LASTEST POST IMAGE (& POST PAGE IMAGE) */

.section-box-main-full .section-box-main-full-image,
.section-box-main-full .section-box-full-image,
.section-box-full .section-box-main-full-image,
.section-box-full .section-box-full-image {
	height: 19.6875rem;
	overflow: hidden;
	z-index: 1
}
@media screen and (max-width:39.9375em) {
	.section-box-main-full .section-box-main-full-image,
	.section-box-main-full .section-box-full-image,
	.section-box-full .section-box-main-full-image,
	.section-box-full .section-box-full-image {
		background: #333;
		height: 12.5rem
	}
}
.section-box-main-full .section-box-main-full-image img,
.section-box-main-full .section-box-full-image img,
.section-box-full .section-box-main-full-image img,
.section-box-full .section-box-full-image img {
	top: 50%;
	left: 50%;
	width: 100%;
	margin-top: -5px;
	margin-left: 0;
	position: initial!important
}
.opacity-0{
	opacity: 0;
}
.opacity-01{
	opacity: .1;
}
.opacity-025{
	opacity: .25;
}
.opacity-05{
	opacity: .5;
}
.opacity-075{
	opacity: .75;
}
.opacity-100{
	opacity: 1;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(4px) contrast(10) hue-rotate(240deg);
  mix-blend-mode: darken;
}
.loader:before{
  content: "";
  grid-area: 1/1;
  margin: 30px 0;
  border-radius: 100px;
  background: #00ffff;
}
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 35px;
  width: 35px;
  margin: auto;
  border-radius: 50%;
  background: #00ffff;
  animation: l5 2s infinite linear;
}
@keyframes l5{
  0%   {transform: translate(30px)}
  25%  {transform: translate(0)}
  50%  {transform: translate(-35px)}
  75%  {transform: translate(0)}
  100% {transform: translate(30px)}
}
/* ON - OFF SWITCH */
.onoffswitch {
	position: relative; width: 45px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	height: 27px; padding: 0; line-height: 27px;
	border: 2px solid #E3E3E3; border-radius: 27px;
	background-color: #F2F2F2;
	transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block; width: 27px; margin: 0px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 18px;
	border: 2px solid #E3E3E3; border-radius: 27px;
	transition: all 0.3s ease-in 0s; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.075);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.075);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.075)
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #FD5F1E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #FD5F1E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px; 
}
.sidebar {
	width: 50%;	
	right: -50%;							
	transition: 0.5s;
}
@media screen and (max-width:39.9375em) {
	.sidebar {
		width: 100%;								
		right: -100%;								
	}
}
.open {
	right: 0;
}

/* TIMELINE IMAGES DRAG AND DROP */


#drop-area.highlight{
	border-color: green;
}
.instructions {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/*
.preview-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	margin-top: 50px;
}

.image-container{
	padding: 5px;
	background-color: #3c4d68;
	color: white;
}
.preview-container img{
	display: inline-block;
	width: 100%;
}
.preview-container .info{
	margin-top: 10px;
	padding: 10px;
}
.preview-container .remove-button{
	display: inline-block;
	margin-top: 30px;
	border: none;
	padding: 8px 20px;
	font-size: 16px;
	background-color: #d9687c;
	color: white;
	cursor: pointer;
	margin-bottom: 20px;
}
.preview-container .remove-button:hover{
	filter: brightness(1.2);
}
*/
.error{
	color: #712c2c;
	background: pink;
	padding: 10px;
	margin-top: 30px;
	display: none;
}

.preview-container{
	-webkit-overflow-scrolling: touch; /* Habilita a rolagem suave em dispositivos iOS */
	scroll-behavior: smooth; /* Habilita a rolagem suave */
	overflow: hidden;    
}

.preview-container img{
	width: 100%;
    height: auto;
    transform-origin: 0 0;
}

/* Estilizando a barra de rolagem */
.preview-container::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
	height: 0px;		
	background: transparent;
}
  
.container {
    /*display: flex;*/
    flex-direction: column; /* Alteração para vertical */
    overflow-y: scroll; /* Rolar na direção vertical */
    scroll-snap-type: y mandatory; /* Efeito de rolagem vertical */
    -webkit-overflow-scrolling: touch;
}
.tab-top {    
	flex: 0 0 auto;
    scroll-snap-align: start;
	scroll-snap-stop: normal;
}
.tab {
    flex: 1 1 auto;
    scroll-snap-align: center;
	scroll-snap-stop: always;
}

.container-x{
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;	
	cursor: grab;
	user-select: none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; /* Suaviza o scroll no iOS */ 
}

.container-x::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.tab-x{
	flex: 0 0 auto;	
	display: flex;
	align-items: center;
	justify-content: center;	
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.prevnext{
	height: 40px;
	width: 40px;	
	border-radius: 20px;
	display: block;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background: rgba(0,0,0,.5);
	text-align: center;
}
/* Oculta .prevnext em dispositivos com largura de tela menor que 768px (tamanho típico de tablets) */
@media screen and (max-width: 767px) {
    .prevnext {
        display: none; /* Oculta os botões em dispositivos móveis */
    }
}
.zoomed {
	transform: scale(0.9); /* Defina o valor desejado para o zoom, onde 1 é 100%, 0.8 seria 80%, por exemplo */
	transform-origin: 0 0; /* Isso ajustará a origem do zoom para o canto superior esquerdo do iframe */
}

/* Oculta o botão "Mais ações" (três pontos) */
video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-settings-button {
    display: none;
}

.proportional-4-3 {
    padding-top: 133.333%;
}